.flowChartWrap {
  height: 100%;
}
.flowChartWrap .left {
  border-right: 1px solid #e5e5e5;
  height: 100%;
}
.flowChartWrap .left .el-tree {
  height: calc(100% - 42px - 42px);
  overflow-y: auto;
}
.flowChartWrap .left .main-title {
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.flowChartWrap .breadcrumb-head {
  border-bottom: 1px solid #e1e1e1;
}
.flowChartWrap .breadcrumb-head .el-breadcrumb {
  font-size: 12px;
}
.flowChartWrap .right {
  border-left: 1px solid #e5e5e5;
  height: calc(100vh - 42px);
}
.flowChartWrap .main #mainMenu {
  height: 41px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}
.flowChartWrap .main #mainMenu .icon-save {
  display: inline-block;
  transform: translateY(2px);
}
.flowChartWrap .main #mainMenu .tool-left {
  float: left;
}
.flowChartWrap .main #mainMenu .tool-left .el-button {
  border: none;
  margin-top: 8px;
}
.flowChartWrap .main #mainMenu .tool-left .el-button:first-child {
  margin-left: 10px;
}
.flowChartWrap .main #mainMenu .tool-right {
  /* float: right; */
}
.flowChartWrap .main #mainMenu .tool-right .el-button {
  position: relative;
  border: none;
  margin: 3px 0 0 0;
  background: transparent;
}
.flowChartWrap .main #mainMenu .tool-right .el-button:last-child {
  margin-right: 10px;
}
.flowChartWrap .main .mainContainer {
  height: calc(100% - 42px);
  position: relative;
  overflow: hidden;
  outline: none !important;
}
.flowChartWrap .main .mainContainer #mainContainer {
  outline: none !important;
  height: calc(100% - 42px);
  width: 100%;
  position: relative;
}
.flowChartWrap #mainNodeInfo .nodeInfoToolBar {
  border-left: 1px solid #e5e5e5;
  overflow: hidden;
}
.flowChartWrap #mainNodeInfo .nodeInfoToolBar .tool {
  padding: 8px 0;
  writing-mode: vertical-rl;
  line-height: 32px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.flowChartWrap #mainNodeInfo .nodeInfoToolBar .tool.acitve {
  background: #eee;
}
.flowChartWrap #mainNodeInfo .nodeInfoToolBar .tool span {
  margin: 5px 0;
}
.flowChartWrap #mainNodeInfo .title {
  border-bottom: 1px solid #e5e5e5;
  height: 41px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}
.flowChartWrap #mainNodeInfo .attr-box {
  padding: 10px;
}
.flowChartWrap #mainNodeInfo .attr-box .item {
  position: relative;
  font-size: 12px;
}
.flowChartWrap #mainNodeInfo .attr-box .item .required-icon {
  color: red;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -5px;
}
.flowChartWrap #mainNodeInfo .attr-box .value {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.flowChartWrap #mainNodeInfo .attr-box .input-label {
  position: relative;
  font-size: 12px;
  margin-bottom: 5px;
  width: fit-content;
  display: block;
}
.flowChartWrap #mainNodeInfo .attr-box .input-label .required-icon {
  color: red;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -5px;
}
.flowChartWrap #mainNodeInfo .call-attr {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  height: 41px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  margin: 40px -10px 0;
}
.flowChartWrap #mainNodeInfo .messageInfo {
  padding: 0px;
  margin: 10px;
  color: #333;
  font-size: 12px;
}
.flowChartWrap #mainNodeInfo .messageInfo .el-card__body {
  padding: 10px;
}
.flowChartWrap #mainNodeInfo .messageInfo p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.flowChartWrap .el-aside {
  background: #f8f8f8;
}
.flowChartWrap .el-aside .search {
  height: 42px;
  background-color: #f3f3f3;
  padding: 8px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.flowChartWrap .el-aside .search .el-input {
  height: 24px;
}
.flowChartWrap .el-aside .search .el-input .el-input__inner {
  height: 24px;
}
.flowChartWrap .el-aside .search .el-input--small .el-input__icon {
  line-height: 24px;
}
.flowChartWrap .el-aside .el-tree {
  background: transparent;
}
.flowChartWrap .content-el-container {
  height: 100%;
}
.flowChartWrap .el-tree-node__content,
.flowChartWrap .el-tree-node {
  min-height: 38px !important;
}
.flowChartWrap .leafNode .node::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 2px;
  padding: 13px 2px;
  background: transparent;
}
.flowChartWrap .leafNode:hover span.node {
  border: 1px solid #1c9bec !important;
  background: #fff;
}
.flowChartWrap .leafNode:hover span.node::before {
  background: #1c9bec;
}
.flowChartWrap .input-error .el-input__inner {
  border-color: red;
}
.flowChartWrap .input-error .el-textarea__inner {
  border-color: red;
}
.flowChartWrap .button-error {
  border-color: red;
}
.flowChartWrap .node-com-icon {
  margin: 0 -4px -4px 0;
  transform: scale(0.667);
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.flowChartWrap .icon-database {
  background: url('~assets/gooflow-icon.png') -97px -45px no-repeat;
}
.flowChartWrap .icon-webservice {
  background: url('~assets/gooflow-icon.png') -137px -45px no-repeat;
}
.flowChartWrap .icon-http {
  background: url('~assets/gooflow-icon.png') -137px -45px no-repeat;
}
.flowChartWrap .icon-jms {
  background: url('~assets/gooflow-icon.png') -137px -45px no-repeat;
}
.flowChartWrap .icon-java {
  background: url('~assets/gooflow-icon.png') -19px -44px no-repeat;
}
.flowChartWrap .icon-groovy {
  background: url('~assets/gooflow-icon.png') -19px -44px no-repeat;
}
.flowChartWrap .icon-iteration {
  background: url('~assets/gooflow-icon.png') -97px 1px no-repeat;
}
.flowChartWrap .icon-condition {
  background: url('~assets/gooflow-icon.png') -58px -20px no-repeat;
}
.flowChartWrap .icon-async {
  background: url('~assets/gooflow-icon.png') -117px -45px no-repeat;
}
.flowChartWrap .icon-callback {
  background: url('~assets/gooflow-icon.png') -117px -45px no-repeat;
}
.flowChartWrap .icon-atomService {
  background: url('~assets/brick-add.png') no-repeat;
}